.stack-work
dist-newstyle/
dist-newstyle-ghcjs/
dist/
dist-ghcjs/
/vendor/
/docs/
/_shake/
/cabal.project.local
.ghc.environment*
result
result-android
result-ios
result-exe
.attr-cache
ghcid-output.txt
